html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.img-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.login-card {
    width: 370px;
    padding: 20px;
    background-color: rgba(97, 97, 97, 0.356);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-head img {
    width: 80px;
    height: 80px;
}

.span-login {
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 7px;
}

.span-text {
    font-size: 14px;
    color: white;
    font-weight: 400;
    padding-bottom: 8px;
}

.us-container,
.pwd-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 10px 15px;
    width: 100%;
    max-width: 380px;
    margin: 10px auto;
}

.us-container i,
.pwd-container i {
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

.us-container input,
.pwd-container input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.us-container:focus-within,
.pwd-container:focus-within {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.3);
}

.forgot {
    color: white;
    text-align: end;
    padding-right: 3px;
    opacity: 60%;
    cursor: pointer;
}

.forgot:hover {
    opacity: 90%;
    text-decoration: underline;
}

#toggle-password,
#confirm-toggle-password {
    margin-left: 8px;
    cursor: pointer;
}

input::placeholder {
    color: white;
    opacity: 1;
}

input:focus::placeholder {
    color: white;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.btn-login button {
    background-color: #FFFFFF;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: rgb(107, 107, 107);
}

.btn-login button:hover {
    opacity: 90%;
}

.link-regis {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 8px;
}

.link-regis span {
    font-weight: 400;
}

.link-regis a {
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: 600;
}

.link-regis a:hover {
    opacity: 90%;
    color: #FFFFFF;
}

.error-input {
    color: red;
    font-size: 14px;
    margin: 2px 0 0 5px;
    font-weight: 600;
}

/* MANUAL USER */
.help-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.help-icon:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.help-icon::after {
    content: "Manual User";
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.help-icon:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 500px) {
    .login-card {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }
}
