#kelola-keuangan {
    font-size: 13px;
    padding-bottom: 80px;
}

.bar-recap {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 5px 20px;
}

.recap-card-all {
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.recap-card {
    display: flex;
    background-color: #FFDE4D;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.recap-card i {
    font-size: 25px;
    padding-right: 13px;
}

.input-group-text-1 {
    padding: 0 8px 0 0;
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 16px
}

.form-select {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.form-select option {
    font-size: 14px;
    background-color: #fffdf0;
    color: #000;
}

.recap-content {
    font-weight: 600;
    font-size: 16px
}

.bar-top-keuangan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
}

.col-deskripsi {
    width: 210px;
    word-wrap: break-word;
    white-space: normal;
}

.laporan-container {
    padding: 20px;
}

.lihat-laporan {
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
}

.btn-laporan {
    display: flex;
    gap: 20px;
}

.btn-bulan button,
.btn-lap button {
    background-color: #4A59FF;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-weight: 600;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #FFFFFF;
}

.btn-bulan button:hover,
.btn-lap button:hover {
    opacity: 80%;
}
