#kelola-barang {
    font-size: 13px;
    padding-bottom: 80px;
}

.col-deskripsi {
    width: 210px;
    word-wrap: break-word;
    white-space: normal;
}

.data-table td.btn-aksi,
.data-table td.pic-barang {
    border: none;
}

.pic-head,
.pic-barang {
    width: 100px;
}

.pic-barang {
    width: 90px;
    height: 90px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pic-barang img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

